<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xl-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="custom-datepicker custom-datepicker-dropdown">
                                        <div class="form-group mb-0">
                                            <label for="name">
                                                {{'Service' | translate}}
                                            </label>
                                            <div class="input-group">
                                             <select required name="category_id" id="category_id" #category_id="ngModel"
                                                [(ngModel)]="searchObject.category_id" class="form-control">
                                                <option value="">{{'Choose' | translate}}</option>
                                                <option *ngFor="let item of categories" value="{{item._id}}">
                                                    {{lang=='ar' ? item?.arName : item?.enName}} 
                                                </option>
                                            </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="custom-datepicker custom-datepicker-dropdown">
                                        <div class="form-group mb-0">
                                            <label for="name">{{'Provider' | translate}}</label>
                                            <div class="input-group">
                                                <select required name="supplier_id" id="supplier_id" #supplier_id="ngModel" [(ngModel)]="searchObject.supplier_id" class="form-control" (change)="changeSupplier($event.target.value)">
                                                <option value="">{{'Choose' | translate}}</option>
                                                <option *ngFor="let item of providers" value="{{item._id}}">
                                                    {{item.name}}
                                                </option>
                                            </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="custom-datepicker custom-datepicker-dropdown">
                                        <div class="form-group mb-0">
                                            <label for="name">{{'City' | translate}}</label>
                                            <div class="input-group">
                                                <select required name="city_id" id="city_id" #city_id="ngModel"
                                                [(ngModel)]="searchObject.city_id" class="form-control"
                                                (change)="changeCity($event.target.value)">
                                                <option value="">{{'Choose' | translate}}</option>
                                                <option *ngFor="let item of cities" value="{{item._id}}">
                                                    {{lang=='ar' ? item?.arName : item?.enName}} 
                                                </option>
                                            </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="custom-datepicker custom-datepicker-dropdown">
                                        <div class="form-group mb-0">
                                            <label for="name">{{'Region' | translate}}</label>
                                            <div class="input-group">
                                            <select required name="place_id" id="place_id" #place_id="ngModel"
                                                [(ngModel)]="searchObject.place_id" class="form-control">
                                                <option value="">{{'Choose' | translate}}</option>
                                                <option *ngFor="let item of places" value="{{item._id}}">
                                                    {{lang=='ar' ? item?.arName : item?.enName}} 
                                                </option>
                                            </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2 mr-2 ml-2">
                                <button type="button" class="btn btn-outline-info btn-sm" (click)="search()">بحث</button>&nbsp;
                                <button class="btn btn-outline-success" (click)="addNew()">{{'Add' | translate}}</button>&nbsp;
                                <button type="button" class="btn btn-outline-danger btn-sm" (click)="reset()">{{'Reset' | translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>{{'Services_Region' | translate}}</h5>
                </div>
                <div class="todo">
                    <div class="todo-list-wrapper">
                        <div class="todo-list-container">
                            <div class="table-responsive">
                                <table class="table card-table table-vcenter text-nowrap">
                                    <thead>
                                        <tr>
                                            <th>{{'Service' | translate}}</th>
                                            <th>{{'Provider' | translate}}</th>
                                            <th>{{'City' | translate}}</th>
                                            <th>{{'Region' | translate}}</th>
                                            <th>{{'Date' | translate}}</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of products">
                                            <td>
                                                {{item?.category_id?.arName}}
                                            </td>
                                            <td>
                                                {{item?.supplier_id?.name}}
                                            </td>
                                            <td>
                                                {{item?.city_id?.arName}}
                                            </td>
                                            <td>
                                                {{item?.place_id?.arName}}
                                            </td>
                                            <td>
                                                {{item.createAt | date:'dd-MM-yyyy'}}
                                            </td>
                                            <td class="text-center">
                                                <a [routerLink]="['/items/places/product/add', item._id]" class="btn-sm btn-primary cursor" >
                                                    <i class="fa fa-pencil"></i></a>&nbsp;
                                                <a class="btn-sm btn-danger" (click)="deleteProduct(item)"><i class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ngb-pagination *ngIf="products.length > 0" [collectionSize]="collectionCount" #numPages  [maxSize]="10" [pageSize]="limit" [(page)]="page" (pageChange)="onPageChange(page)"></ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">تفاصيل الطلب</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
     <div class="modal-body" style="text-align: justify;">
        <app-order-details [orderDetails]="orderDetails"></app-order-details>
    </div>
</ng-template>


<ng-template #rate let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">التعليق</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
     <div class="modal-body" style="text-align: justify;">
        <form #form="ngForm">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="input-group">
                            {{notes}}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger btn-sm" (click)="modal.close('Save click')">{{'Close' | translate}}</button>
    </div>
</ng-template>