<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xl-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="category_id1">{{'Advantage' | translate}}</label>
                                        <div class="input-group">
                                            <select name="category_id1" id="category_id1" #category_id1="ngModel"
                                                [(ngModel)]="category_id" class="form-control">
                                                <option value="">{{'Choose' | translate}}</option>
                                                <option *ngFor="let item of categories" value="{{item._id}}">
                                                    {{lang=='ar' ? item.arName:item.enName}} 
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-outline-info btn-sm" (click)="search()">{{'Search' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5> 
                        {{'Advantage' | translate}}
                    </h5>
                </div>
                <div class="todo">
                    <div class="todo-list-wrapper">
                        <div class="todo-list-container">
                            <div class="mark-all-tasks">
                                <div class="mark-all-tasks-container">
                                    <button title="{{'Add' | translate}}" class="btn btn-success-gradien"
                                        (click)="openSubCategory(content,null)">
                                        <i class="fa fa-plus"></i> {{'Add' | translate}}
                                    </button>&nbsp;
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">{{'Image' | translate}}</th>
                                            <th scope="col">{{'arTitle' | translate}} </th>
                                            <th scope="col">{{'enTitle' | translate}}</th>
                                            <th scope="col">{{'Price' | translate}}</th>
                                            <th scope="col">{{'Category' | translate}}</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of cities;let i = index">
                                            <td>
                                                <img class="img-60 rounded-circle" src="{{item.image}}">
                                            </td>
                                            <td>{{item.arName}}</td>
                                            <td>{{item.enName}}</td>
                                            <td>{{item.price}}</td>
                                            <td>{{item?.category_id?.arName}}</td>
                                            <td>
                                                <button placement="top" ngbTooltip="{{'Edit' | translate}}"
                                                    class="btn-sm btn-primary-gradien" (click)="openSubCategory(content,item)">
                                                    <i class="fa fa-pencil"></i>
                                                </button>&nbsp;
                                                <button placement="top" ngbTooltip="{{'Delete' | translate}}" class="btn-sm btn-danger-gradien"
                                                    (click)="deleteSubCategory(item._id)">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            {{'Advantage' | translate}}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
     <div class="modal-body" style="text-align: justify;">
        <form #form="ngForm">
                <div class="row">
                    <div class="col-md-12">
                        <p>{{subCatObject.arName}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="arName">{{'arTitle' | translate}} *</label>
                            <div class="input-group">
                                <input required #arName="ngModel" type="text" class="form-control" id="arName" name="arName"
                                    [(ngModel)]="subCatObject.arName" />
                            </div>
                            <div *ngIf="(arName.errors && arName.invalid && (arName.dirty || arName.touched))"
                                class="text text-danger">
                                {{'Required' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="enName"> {{'enTitle' | translate}} *</label>
                            <div class="input-group">
                                <input required #enName="ngModel" type="text" class="form-control" id="enName" name="enName"
                                    [(ngModel)]="subCatObject.enName" />
                            </div>
                            <div *ngIf="(enName.errors && enName.invalid && (enName.dirty || enName.touched))"
                                class="text text-danger">
                                {{'Required' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="arDescription">{{'arDescription' | translate}} * </label>
                            <div class="input-group">
                                <input required #arDescription="ngModel" type="text" class="form-control" id="arDescription"
                                    name="arDescription" [(ngModel)]="subCatObject.arDescription">
                            </div>
                            <div *ngIf="(arDescription.errors && arDescription.invalid && (arDescription.dirty || arDescription.touched))"
                                class="text text-danger">
                                {{'Required' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="enDescription">{{'enDescription' | translate}} *</label>
                            <div class="input-group">
                                <input required #enDescription="ngModel" type="text" class="form-control" id="enDescription"
                                    name="enDescription" [(ngModel)]="subCatObject.enDescription">
                            </div>
                            <div *ngIf="(enDescription.errors && enDescription.invalid && (enDescription.dirty || enDescription.touched))"
                                class="text text-danger">
                                {{'Required' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="price">{{'Price' | translate}} *</label>
                            <div class="input-group">
                                <input required #price="ngModel" type="number" class="form-control" id="price" name="price"
                                    [(ngModel)]="subCatObject.price" />
                            </div>
                            <div *ngIf="(price.errors && price.invalid && (price.dirty || price.touched))"
                                class="text text-danger">
                                {{'Required' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="category_id">{{'Category' | translate}} *</label>
                            <div class="input-group">
                                <select required name="category_id" id="category_id" #category_id="ngModel"
                                    [(ngModel)]="subCatObject.category_id" class="form-control">
                                    <option *ngFor="let item of categories" value="{{item._id}}">
                                        {{lang=='ar' ? item.arName:item.enName}} 
                                    </option>
                                </select>
                            </div>
                            <div *ngIf="(category_id.errors && category_id.invalid && (category_id.dirty || category_id.touched))" class="text text-danger">
                                {{'Required' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                         <div class="form-group">
                             <label for="icon">{{'Image' | translate}} *</label>
                             <div class="input-group">
                                 <input required #icon type="file" class="form-control" id="icon" name="icon"
                                     accept="image/*" (change)="processImage($event)">
                             </div>
                             <div *ngIf="(icon.errors && icon.invalid && (icon.dirty || icon.touched))"
                                 class="text text-danger">
                                 {{'Required' | translate}}
                             </div>
                         </div>
                     </div>
                    </div>                 
        </form>
    </div>
    <div class="modal-footer">
        <button [disabled]="!form.valid" type="button" class="btn btn-outline-info btn-sm" (click)="saveAction()">{{'Save' | translate}}
        </button>
        <button type="button" class="btn btn-outline-danger btn-sm" (click)="modal.close('Save click')">{{'Close' | translate}}</button>
    </div>
</ng-template>