<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{'OrderDetails' | translate}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
 <div class="modal-body" style="text-align: justify;">
    <form #form="ngForm">
        <div class="form-row">
            <h6 for="inputState">{{'Basic' | translate}} : </h6>
            <br>
            <br>
            <div class="form-row col-md-12">
                <div class="form-group col-md-3">
                    <label class="txt1" for="inputState">{{'OrderNo' | translate}}</label>
                    <label class="txt2" name="ـid" #ـid id="ـid"> {{orderDetails?.order_no}} </label>
                </div>
                <div class="form-group col-md-3">
                    <label class="txt1" for="inputState">{{'CreateAt' | translate}} </label>
                    <label class="txt2" name="coupon" id="coupon"> {{orderDetails?.createAt | date:'dd-MM-yyyy'}} </label>
                </div>
                <div class="form-group col-md-3">
                    <label class="txt1" for="inputState">{{'BuyerData' | translate}} </label>
                    <label class="txt2" name="full_name" #full_name id="full_name"> {{orderDetails?.customer?.full_name}} </label>
                </div>
                <div class="form-group col-md-3">
                    <label class="txt1" for="inputState">{{'Price' | translate}} </label>
                    <label class="txt2" name="price" #price id="price"> {{orderDetails?.total}} ر.س </label>
                </div>
            </div>
        </div>
        <div class="form-row mt-3">
            <h6 for="inputState">{{'OrderDetails' | translate}} : </h6>
            <br>
            <br>
            <div class="form-row col-md-12">
                <div class="form-group col-md-3">
                    <label class="txt1" for="inputState">{{'Users' | translate}} </label>
                    <label class="txt2" name="provider" id="provider"> {{orderDetails?.freelancer?.full_name}}</label>
                </div>
                <div class="form-group col-md-3">
                    <label class="txt1" for="inputState">{{'Type' | translate}}</label>
                    <label class="txt2" name="category" id="category"> {{orderDetails?.s_category}}</label>
                </div>
                <div class="form-group col-md-3">
                    <label class="txt1" for="inputState">{{'Time' | translate}} </label>
                    <label class="txt2" name="work" id="work"> {{orderDetails?.s_delivery_time}}</label>
                </div>
                <div class="form-group col-md-3">
                    <label class="txt1" for="inputState">{{'Status' | translate}} </label>
                    <strong *ngIf="orderDetails?.status == 'new' " class="status-icon bg-info">{{'ST_New' | translate}}</strong>
                    <strong *ngIf="orderDetails?.status == 'accepted' " class="status-icon bg-info">{{'ST_Accept' | translate}}</strong>
                    <strong *ngIf="orderDetails?.status == 'started' " class="status-icon bg-warning">{{'ST_Progress' | translate}} </strong>
                    <strong *ngIf="orderDetails?.status == 'updated' " class="status-icon bg-warning">{{'ST_Updated' | translate}}</strong>
                    <strong *ngIf="orderDetails?.status == 'finished' || orderDetails?.status == 'rated' || orderDetails?.status == 'prefinished'" class="status-icon bg-success">{{'ST_Done' | translate}}</strong>
                    <strong *ngIf="orderDetails?.status == 'canceled_by_admin'" class="status-icon bg-danger">{{'ST_Admin' | translate}}</strong>
                    <strong *ngIf="orderDetails?.status == 'canceled_by_driver'" class="status-icon bg-danger">{{'ST_Employee' | translate}}</strong>
                    <strong *ngIf="orderDetails?.status == 'canceled_by_user'" class="status-icon bg-danger">{{'ST_User' | translate}}</strong>
                </div>
            </div>
            <br>
            <br>
            <div class="form-row col-md-12">
                <div class="form-group col-md-3">
                    <label class="txt1" for="inputState">{{'OrderType' | translate}}</label>
                    <label class="txt2" name="buildingNo" id="buildingNo">
                        <span *ngIf="orderDetails?.order_type == 'service' ">{{'Service' | translate}}</span>
                        <span *ngIf="orderDetails?.order_type == 'job' ">{{'Job' | translate}}</span>
                    </label>
                </div>
                
                <div class="form-group col-md-3">
                    <label class="txt1" for="inputState">{{'Deadline' | translate}}</label>
                    <label class="txt2" name="work" id="work"> {{orderDetails?.s_end_time | date:'dd-MM-yyyy'}}</label>
                </div>
            </div>  
            <br>
            <br>
            <div class="form-row col-md-12">
                <div class="form-group col-md-12">
                    <label class="txt1" for="inputState">{{'Title' | translate}}</label>
                    <label class="txt2" name="buildingNo" id="buildingNo"> {{orderDetails?.s_title}}</label>
                </div>
                <div class="form-group col-md-12">
                    <label class="txt1" for="inputState">{{'Details' | translate}}</label>
                    <label class="txt2" name="streetName" id="streetName" style="display: block; overflow-wrap: anywhere;"> {{orderDetails?.s_bio}}</label>
                </div>
            </div>  
            <br>
            <br>
        </div>
        <div class="form-row mt-3">
            <div class="form-group col-md-12">
                <label class="txt1" for="inputState">{{'Note' | translate}}</label>
                <label class="txt2" name="Notes" id="Notes"> {{orderDetails?.notes}}</label>
            </div>
            <div class="form-group col-md-12">
                <label class="txt1" for="inputState">{{'CancelReason' | translate}}</label>
                <label class="txt2" name="Notes" id="Notes"> {{orderDetails?.canceled_note}}</label>
            </div>
            <div class="form-group col-md-12">
                <label class="txt1" for="inputState">{{'Supervisor' | translate}}</label>
                <label class="txt2" name="Notes" id="Notes"> {{orderDetails?.supervisor?.name}}</label>
            </div>
        </div>
        <div class="">
            <agm-map [latitude]="orderDetails?.lat" [longitude]="orderDetails?.lng" [zoom]="zoom_m1" [scrollwheel]="true"
                [disableDoubleClickZoom]="false" [mapDraggable]="true" [zoomControl]="true" [mapTypeControl]="true"
                [mapTypeId]="'hybrid'">
                <agm-marker [latitude]="orderDetails?.lat" [longitude]="orderDetails?.lng">
                    <agm-info-window> {{'Location' | translate}}</agm-info-window>
                </agm-marker>
            </agm-map>
        </div>
    </form>
</div>
